<!--
<nav class="navbar navbar-default navbar-fixed-top ">
    <ul class="nav navbar-nav ">
        <li ng-click="onClickList()" class="active "><a href="/index.html ">List</a></li>
        <li ng-click="onClicknNew()" class="active "><a href="# ">New Item</a></li>
        <li ng-click="onClickSet()" class="active "><a href="#">Settings</a></li>
    </ul>
</nav>
-->
<!--
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button ng-click="onClicknNew()" id="btn-add" type="button" class="navbar-btn btn-primary"><span class="glyphicon glyphicon-plus"></span>Add</button> <a class="navbar-brand" href="#">Tryton list</a> </div>
    </div>
</nav>
-->
